{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-end">
    <div class="col-md-4 me-5">

        <div class="card shadow">
            <div class="card-body">
                <h4 class="text-center mb-3">Login</h4>

                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input class="form-control" name="username" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Ruolo</label>
                        <select class="form-select" name="role">
                            <option value="admin">Admin</option>
                            <option value="commerciale">Commerciale</option>
                            <option value="tecnico">Tecnico</option>
                            <option value="contabile">Contabile</option>
                        </select>
                    </div>

                    <button class="btn btn-primary w-100">Entra</button>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
