{% extends "base.html" %}
{% block title %}Inserimento Ticket{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row align-items-center" style="min-height:80vh;">

    <!-- COLONNA SINISTRA (LOGO) -->
    <div class="col-md-6 text-center">

        <img src="{{ url_for('static', filename='img/logo.png') }}"
             class="img-fluid"
             style="max-height:500px; object-fit:contain;">

    </div>

    <!-- COLONNA DESTRA (FORM) -->
    <div class="col-md-6">

        <div class="card shadow p-4">

            <h3 class="mb-4">Inserimento Ticket (Admin)</h3>

            <form action="{{ url_for('ui.predict_ticket') }}"
                  method="post">

                <div class="mb-3">
                    <label class="form-label">Soggetto</label>
                    <input type="text"
                           name="title"
                           class="form-control w-75"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Descrizione</label>
                    <textarea name="body"
                              rows="5"
                              class="form-control w-75"
                              required></textarea>
                </div>

                <button class="btn btn-primary">
                    Classifica ticket
                </button>

            </form>

        </div>

    </div>

  </div>

</div>

{% endblock %}

